<html>
    <head>
        <title>Local Politics Information</title>
    </head>
    <body onload="getLocation();">
        <h1>Local Politics Information</h1>
        <div><a href="{{ host }}about">About</a></div>
        <p>{% if msg %} {{ msg }} {% endif %}</p>
        <p>Click the button to get your coordinates.</p>


    <div id="demo">

    </div>
</body>

    <script>
    var x = document.getElementById("demo");

    function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
    var ip = '<%=request.getRemoteHost();%>';
    }

    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
        "<br>Longitude: " + position.coords.longitude;
    }
    </script>
</html>
